In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sympy import *
from scipy import stats
import math
import re
import csv

## 导入数据并清洗

In [111]:
path = "./export.csv"
names = ['start', 'last', 'delet1', 'type', 'delet2', 'content', 'remark', 'tag', 'state']
data = pd.read_csv(path, names = names, skiprows = [0])
data.head()

              start  last delet1 type delet2 content remark  tag state
0  2017-02-09 00:00   450    未分类   睡觉    未分类     NaN    NaN  NaN   已完成
1  2017-02-09 07:30    30    未分类   杂事    未分类      吃饭    NaN  NaN   已完成
2  2017-02-09 08:00   240    未分类   工作    未分类      家教    NaN  NaN   已完成
3  2017-02-09 12:00    30    未分类   杂事    未分类      吃饭    NaN  NaN   已完成
4  2017-02-09 12:30    30    未分类   睡觉    未分类      午睡    NaN  NaN   已完成

In [112]:
df = pd.DataFrame(data)
df = df.drop(['delet1', 'delet2', 'tag', 'state'], axis = 1)
print(df.shape)
df.head()

(6516, 5)

              start  last type content remark
0  2017-02-09 00:00   450   睡觉     NaN    NaN
1  2017-02-09 07:30    30   杂事      吃饭    NaN
2  2017-02-09 08:00   240   工作      家教    NaN
3  2017-02-09 12:00    30   杂事      吃饭    NaN
4  2017-02-09 12:30    30   睡觉      午睡    NaN

In [113]:
date = []
start = []
for i in range(df.shape[0]):
    date.append(df['start'][i].split(' ')[0])
    start.append(df['start'][i].split(' ')[1])
print(date[:5], start[:5])

['2017-02-09', '2017-02-09', '2017-02-09', '2017-02-09', '2017-02-09'] ['00:00', '07:30', '08:00', '12:00', '12:30']

In [114]:
date_start = pd.DataFrame({'date': date, 'start': start})
print(date_start.shape)
date_start.head()

(6516, 2)

         date  start
0  2017-02-09  00:00
1  2017-02-09  07:30
2  2017-02-09  08:00
3  2017-02-09  12:00
4  2017-02-09  12:30

In [115]:
df = date_start.join(df.drop(columns = 'start'))
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(6516, 6)

In [117]:
df.head()

         date  start  last type content remark
0  2017-02-09  00:00   450   睡觉     NaN    NaN
1  2017-02-09  07:30    30   杂事      吃饭    NaN
2  2017-02-09  08:00   240   工作      家教    NaN
3  2017-02-09  12:00    30   杂事      吃饭    NaN
4  2017-02-09  12:30    30   睡觉      午睡    NaN

## 描述统计

In [128]:
df['last'].describe()

count    6516.000000
mean       95.232505
std       106.216357
min        15.000000
25%        30.000000
50%        60.000000
75%       120.000000
max       690.000000
Name: last, dtype: float64

In [133]:
df['last'].kurt()

4.1388311930885004