In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sympy import *
from scipy import stats
import math

## 导入数据

In [4]:
path = "./export.csv"
data = pd.read_csv(path)
data.head()

               开始时间  持续时间 事件大类 事件类别 内容类型 事件内容   备注  Tag   状态
0  2017-02-09 00:00   450  未分类   睡觉  未分类  NaN  NaN  NaN  已完成
1  2017-02-09 07:30    30  未分类   杂事  未分类   吃饭  NaN  NaN  已完成
2  2017-02-09 08:00   240  未分类   工作  未分类   家教  NaN  NaN  已完成
3  2017-02-09 12:00    30  未分类   杂事  未分类   吃饭  NaN  NaN  已完成
4  2017-02-09 12:30    30  未分类   睡觉  未分类   午睡  NaN  NaN  已完成

In [5]:
data.describe()

              持续时间  Tag
count  6516.000000  0.0
mean     95.232505  NaN
std     106.216357  NaN
min      15.000000  NaN
25%      30.000000  NaN
50%      60.000000  NaN
75%     120.000000  NaN
max     690.000000  NaN