In [24]:
import random
import pandas as pd
from IPython.display import display
from sklearn.utils import shuffle

In [71]:
hu = pd.read_csv("Hu.csv", )
lu = pd.read_csv("Lu.csv")
hu.drop(['序号'], axis = 1, inplace = True), lu.drop(['序号'], axis = 1, inplace = True)
hu['导师'] = '胡'
lu['导师'] = '陆'
display(hu.head(), lu.head())

    姓名 性别 导师
0   李帅  男  胡
1   梁晨  女  胡
2   郭慧  女  胡
3  徐嘉晨  女  胡
4  时吉星  男  胡

    姓名 性别 导师
0  薄新月  女  陆
1  黄加玮  男  陆
2  罗颖科  女  陆
3  刘宇晴  女  陆
4  邵晓旭  女  陆

In [94]:
total = shuffle(pd.concat([hu, lu], ignore_index=True))

In [95]:
total["性别"].value_counts()

女    40
男    29
Name: 性别, dtype: int64

In [83]:
[x for x in range(0, 70, 5)]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65]

In [117]:
def shuffle_list(names):
    names = shuffle(names)
    first = [x for x in range(0, 70, 5)]
    for i in first:
        if '女' in display(names['性别'][i:i + 5])
        print(1)


shuffle_list(total)

SyntaxError: invalid syntax (<ipython-input-117-4aeda13bdf91>, line 5)

In [116]:
total["性别"]

25    男
38    女
1     男
49    男
60    男
22    男
56    男
61    女
48    女
65    女
64    女
53    女
51    女
43    女
57    女
3     女
21    男
20    女
4     男
63    男
55    女
28    男
8     男
13    男
54    女
0     男
33    男
32    男
66    女
16    女
     ..
15    女
18    男
68    男
31    女
34    男
23    男
35    女
47    男
2     女
44    男
41    女
17    男
5     男
29    女
7     女
58    女
52    男
24    女
40    女
42    女
30    女
39    女
6     男
12    女
11    女
50    男
27    女
67    女
10    女
46    女
Name: 性别, Length: 69, dtype: object